# INTERNAL
ORDERS__ENDPOINT__BASE_URL=""
INTERNAL__ENDPOINT__BASE_URL=""

# IFOOD
INTEGRATIONS__IFOOD__CLIENT__ID=""
INTEGRATIONS__IFOOD__CLIENT__SECRET=""
INTEGRATIONS__IFOOD__ENDPOINT__BASE_URL="https://merchant-api.ifood.com.br"

# RAPPI
INTEGRATIONS__RAPPI__CLIENT__ID=""
INTEGRATIONS__RAPPI__CLIENT__SECRET=""
INTEGRATIONS__RAPPI__CLIENT__AUDIENCE=""
INTEGRATIONS__RAPPI__ENDPOINT__BASE_URL="https://microservices.dev.rappi.com/api/v2/restaurants-integrations-public-api"
INTEGRATIONS__RAPPI__ENDPOINT__AUTH="https://rests-integrations-dev.auth0.com/"

# 99FOOD
INTEGRATIONS__FOOD99__CLIENT__ID=""
INTEGRATIONS__FOOD99__CLIENT__SECRET=""
INTEGRATIONS__FOOD99__ENDPOINT__BASE_URL="https://openapi.didi-food.com"